header {
  width: 100vw;
  height: 100vh;
  background-color: #E8F9FD;
}

p {
  margin-bottom: 0;
}

header .card {
  min-width: 50vw;
  max-width: 540px;
  height: 50vh;
  margin: 0 auto;
}

.hero-icon i {
  font-size: 8rem;
}

.hero-title h1 {
  font-size: 5rem;
  margin-bottom: 0;
}

.hero-title p {
  font-size: 2rem;
}

.hero-source,
.hero-source b {
  font-size: .5rem;
}




@media only screen and (max-width: 768px) {


  header .card {
    width: 80vw;
    height: 40vh;
    margin: 0 auto;
    display: flex;
  }

  .hero-icon i {
    font-size: 5rem;
  }

  .hero-title h1 {
    font-size: 3rem;
  }

  .hero-title p {
    font-size: 2rem;
  }

  .hero-description {
    font-size: .5rem;
  }

}